# File Service Environment Variables

# Database Configuration
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=team_messenger
DB_PORT=5432

# Application Configuration
APP_PORT=8080

# MinIO Configuration
MINIO_HOST=localhost:9000
MINIO_BUCKET=teamfiles
MINIO_ACCESS_KEY=DMKFGDDFGDFG
MINIO_SECRET_KEY=KHJHKgjgjhHJGHgjgKHJ